<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
    <aop:aspectj-autoproxy/>
    <bean name="triangle" class="com.nikhil.aop.writingfirstaspect.model.Triangle">
        <property name="name" value="triangle name"/>
    </bean>

    <bean name="circle" class="com.nikhil.aop.writingfirstaspect.model.Circle">
        <property name="name" value="circle name"/>
    </bean>

    <bean name="shapeService" class="com.nikhil.aop.writingfirstaspect.service.ShapeService" autowire="byName"/>

    <bean name="loggingAspect" class="com.nikhil.aop.writingfirstaspect.aspect.LoggingAspect"/>

    <bean name="XMLConfiguredAspect" class="com.nikhil.aop.writingfirstaspect.aspect.XMLConfiguredAspect"/>
    <aop:config>
        <aop:aspect id="XMLConfiguredAspect" ref="XMLConfiguredAspect">
            <aop:pointcut id="printTriangeName" expression="execution(* printTriangeName(..))"/>
            <aop:around method="advice" pointcut-ref="printTriangeName"/>
        </aop:aspect>
    </aop:config>
</beans>